/* application css */
#main {font-size:150%;}
.hl {color:red;}
.tagmarker{font-size:50%;}
.pbmarker{background: darkblue; border-radius:5px;color:white;}
.paragraph{background: darkgreen; border-radius:5px;color:white;font-size:120%;}
.footnote{background: pink; border-radius:50%;}
.correction{color:darkgreen;}
.warning {background:red;width:100%;color:yellow;}
.sutta {font-size:135%;color:brown;}
.pinpoint{background-color:red;color:yellow;}

.wh {
	font-size:100%;
}

.v {writing-mode: vertical-lr;
		cursor:pointer;
    -webkit-writing-mode: vertical-lr;
    font-size:25px;
    height:1920;
    overflow-y:auto;
}
.warichu {
  position:relative;
  width:200%;
  font-family: MingLiU;
  white-space: nowrap
}
.an {
	font-size:50%;
}
.warichu-left { 
 position:absolute;
 top:0px;
 right:0px;
 left:0px;
 width:50%;
  font-size:50%;
 height:100%;
}
.warichu-right {
	position:absolute;
 top:0px;
 left:50%;
 width:50%;
 font-size:50%;
 height:100%;
}

.ruler {
	position:absolute;
	width:100%;
	background-color:rgba(128,1128,255,128);
	height:10px;
}

.warichu1::after {content:" "}
.warichu2::after {content:"　"}
.warichu3::after {content:"　 "}
.warichu4::after {content:"　　"}
.warichu5::after {content:"　　 "}
.warichu6::after {content:"　　　"}
.warichu7::after {content:"　　　 "}
.warichu8::after {content:"　　　　"}
.warichu9::after {content:"　　　　 "}
.warichu10::after{content:"　　　　　"}
.warichu11::after{content:"　　　　　 "}
.warichu12::after{content:"　　　　　　"}
.warichu13::after{content:"　　　　　　 "}
.warichu14::after{content:"　　　　　　　"}
.warichu15::after{content:"　　　　　　　 "}
.warichu16::after{content:"　　　　　　　　"}
.warichu17::after{content:"　　　　　　　　 "}
.warichu18::after{content:"　　　　　　　　　"}
.warichu19::after{content:"　　　　　　　　　 "}
.warichu20::after{content:"　　　　　　　　　　"}
.warichu21::after{content:"　　　　　　　　　　 "}
.warichu22::after{content:"　　　　　　　　　　　"}
.warichu23::after{content:"　　　　　　　　　　　 "}
.warichu24::after{content:"　　　　　　　　　　　　"}
.warichu25::after{content:"　　　　　　　　　　　　 "}
.warichu26::after{content:"　　　　　　　　　　　　　"}
.warichu27::after{content:"　　　　　　　　　　　　　 "}
.warichu28::after{content:"　　　　　　　　　　　　　　"}
.warichu29::after{content:"　　　　　　　　　　　　　　 "}
.warichu30::after{content:"　　　　　　　　　　　　　　　"}
.warichu31::after{content:"　　　　　　　　　　　　　　　 "}
.warichu32::after{content:"　　　　　　　　　　　　　　　　"}
.warichu33::after{content:"　　　　　　　　　　　　　　　　 "}
.warichu34::after{content:"　　　　　　　　　　　　　　　　　"}
.warichu35::after{content:"　　　　　　　　　　　　　　　　　 "}
.warichu36::after{content:"　　　　　　　　　　　　　　　　　　"}
.warichu37::after{content:"　　　　　　　　　　　　　　　　　　 "}
.warichu38::after{content:"　　　　　　　　　　　　　　　　　　　"}
.warichu39::after{content:"　　　　　　　　　　　　　　　　　　　 "}
.warichu40::after{content:"　　　　　　　　　　　　　　　　　　　　"}
.warichu41::after{content:"　　　　　　　　　　　　　　　　　　　　 "}
.warichu42::after{content:"　　　　　　　　　　　　　　　　　　　　　"}
.warichu43::after{content:"　　　　　　　　　　　　　　　　　　　　　 "}
.warichu44::after{content:"　　　　　　　　　　　　　　　　　　　　　　"}
.warichu45::after{content:"　　　　　　　　　　　　　　　　　　　　　　 "}
.warichu46::after{content:"　　　　　　　　　　　　　　　　　　　　　　　"}
.warichu47::after{content:"　　　　　　　　　　　　　　　　　　　　　　　 "}
.warichu48::after{content:"　　　　　　　　　　　　　　　　　　　　　　　　"}
.warichu49::after{content:"　　　　　　　　　　　　　　　　　　　　　　　　 "}
.warichu50::after{content:"　　　　　　　　　　　　　　　　　　　　　　　　　"}

