/* application css */
#main {font-size:160%;}
.hl {color:red;}
.tagmarker{font-size:50%;}
.pbmarker{background: darkblue; border-radius:5px;color:white;}
.paragraph{background: darkgreen; border-radius:5px;color:white;font-size:120%;}
.footnote{background: pink; border-radius:50%;}
.big {font-size:130%;}
.corration{font-weight:700;position:absolute;color:darkgreen;font-size:50%;}
.warning {background:red;width:100%;color:yellow;}

.pinpoint{background-color:red;color:yellow;}

.preview_shu {
  font-size:70%;
  border:solid 1px red;
  border-radius: 5px;
  color:brown;
}
.preview_big {
	font-size:68%;
}

.v {writing-mode: vertical-lr;
		cursor:pointer;
    -webkit-writing-mode: vertical-lr;
    font-size:48px;
    height:1920;
    padding-top:20px;
    padding-right:50px;
    overflow-y:auto;
}
.warichu {
  position:relative;
  width:200%;
  font-family: MingLiU;
  white-space: nowrap
}
.an {
	font-size:50%;
}
.warichu-left { 
 position:absolute;
 top:0px;
 right:0px;
 left:0px;
 width:50%;
  font-size:50%;
 height:100%;
}
.warichu-right {
	position:absolute;
 top:0px;
 left:50%;
 width:50%;
 font-size:50%;
 height:100%;
}

.ruler {
	position:absolute;
	width:100%;
	background-color:rgba(128,1128,255,128);
	height:10px;
}

.warichu1::after {content:" "}
.warichu2::after {content:"　"}
.warichu3::after {content:"　 "}
.warichu4::after {content:"　　"}
.warichu5::after {content:"　　 "}
.warichu6::after {content:"　　　"}
.warichu7::after {content:"　　　 "}
.warichu8::after {content:"　　　　"}
.warichu9::after {content:"　　　　 "}
.warichu10::after{content:"　　　　　"}
.warichu11::after{content:"　　　　　 "}
.warichu12::after{content:"　　　　　　"}
.warichu13::after{content:"　　　　　　 "}
.warichu14::after{content:"　　　　　　　"}
.warichu15::after{content:"　　　　　　　 "}
.warichu16::after{content:"　　　　　　　　"}
.warichu17::after{content:"　　　　　　　　 "}
.warichu18::after{content:"　　　　　　　　　"}
.warichu19::after{content:"　　　　　　　　　 "}
.warichu20::after{content:"　　　　　　　　　　"}
.warichu21::after{content:"　　　　　　　　　　 "}
.warichu22::after{content:"　　　　　　　　　　　"}
.warichu23::after{content:"　　　　　　　　　　　 "}
.warichu24::after{content:"　　　　　　　　　　　　"}
